@model Tfood.Areas.Admin.ViewModel.AdministratorChangePasswordVM
<div class="mt-4">
    <div class="settings-form">
        <h4 class="text-primary mb-4">Bảo mật tài khoản</h4>
        <form id="change-password-form" asp-action="ChangePasswordAdministrator">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col-md-6">
                <label>Mật khẩu hiện tại</label>
                <input id="current-pass" asp-for="@Model.PasswordNow" type="password" class="form-control">
                <span asp-validation-for="@Model.PasswordNow" class="text-danger"></span>
            </div>


            <div class="form-group col-md-6">
                <label>Mật khẩu mới</label>
                <input id="new-pass" asp-for="@Model.Password" type="password" class="form-control">
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label>Xác nhận mật khẩu</label>
                <input id="confirm-pass" asp-for="@Model.ConfirmPassword" type="password" class="form-control">
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="btn-change" class="btn btn-primary" type="submit">Lưu thay đổi</button>
        </form>
    </div>
</div>
