@using Microsoft.AspNetCore.Http;
@model List<Tfood.Models.Favorite>
@if (Context.Session.GetString("CustomerId") != null)
{
    @if (Model != null && Model.Count() > 0)
    {
        <div class="card-body contacts_body p-0 dz-scroll" id="DZ_W_Contacts_Body1">
            <ul class="contacts">
                <li class="name-first-letter">Sản phẩm</li>
                @foreach (var item in Model)
                {
                    string url = $"/product-detail/{item.Product.Alias}--{item.Product.Id}.html";
                    <li class="active">
                        <div class="d-flex bd-highlight">
                            <a href="@url">
                                 <img class="align-self-end mr-3 rounded" width="60" src="/images/products/@item.Product.Thumb" alt="DexignZone">
                            </a>
                           
                            <div class="user_info">
                                <a href="@url">
                                    <span>@item.Product.Name</span>
                                </a>
                                
                                <p class="text-primary">@item.Product.Price.Value.ToString("#,##0") VNĐ</p>
                            </div>
                            <div class="ml-auto">
                                <i onclick="removeFavorite()" id="removefavorite" data-productid="@item.Product.Id" class="las la-times-circle scale5 text-danger mr-2"></i>

                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="card-footer">
            <div class="d-flex">

                <a href="/gio-hang.html" class="btn btn-primary btn-sm mr-2">Xem danh sách</a>

            </div>
        </div>

    }
    else
    {
        <div class="card-body contacts_body p-0 dz-scroll" id="DZ_W_Contacts_Body1">
            <ul class="contacts">
                <li class="name-first-letter">Chưa có sản phẩm yêu thích</li>
            </ul>
        </div>
    }
}